/* Global Styles */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
  font-family: Arial, sans-serif;
  background-color: #0f1216;
  font-size: 1rem;
}

/* Centering container */
.center-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  flex-direction: column;
}

/* Centered div */
.centered-div {
  text-align: center;
  padding: 20px;
}

/* Word display styles */
#word-display {
  font-size: 5rem;
  font-weight: bold;
  margin-bottom: 20px;
}

/* Button styles */
#start-button {
  padding: 15px 30px;
  border: none;
  border-radius: 5px;
  background-color: #4CAF50;
  color: #fff;
  cursor: pointer;
}

#start-button:hover {
  background-color: #3e8e41;
}
